.hero {
  padding-top: 50px;
}

.hero .hero-intro {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 32.2px;
  line-height: 150%;
  font-style: normal;
  color: #222;
  text-align: center;
  margin-bottom: 30px;
}

/* Hero Form */
.hero-form {
  max-width: 1065px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.hero-form-filter {
  width: 49px;
  height: 49px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #85a5dd;
  border-top: 1px solid rgba(48, 111, 221, 0.2);
  border-bottom: 1px solid rgba(48, 111, 221, 0.2);
  background-color: #fff;
}

.hero-form button {
  padding: 12px 16px;
  background: #bf5c7f;
  border-radius: 0 10px 10px 0;
  border: none;
  color: #fff;
  cursor: pointer;
  width: 120px;
  transition: all 0.9s;
  font-family: "Fira Sans", sans-serif;
}

.hero-form button:hover {
  background: #8e1742;
}

/* Hero Stats */
.hero-stats {
  margin-top: 50px;
  row-gap: 15px;
  text-align: center;
  gap: 30px 50px;
}

.hero-stats-item {
  margin: 0 auto;
}

.hero-stats-item span {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 19.6px;
  line-height: 150%;
  letter-spacing: 0.002em;
}

/* Hero Cards */
.hero-cards {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: center;
  margin-top: 50px;
}

/* Home Datasets */
.home-dataset {
  margin: 80px 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-start;
}

.home-dataset .home-dataset-title {
  margin-bottom: 20px;
}

.home-dataset .home-dataset-title,
.hero-news-intro p {
  color: #000;
  font-size: 23.8px;
  font-family: "Rubik", sans-serif;
  font-weight: normal;
}

.home-dataset > div {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

/* Home news */
.home-news {
  margin-bottom: 20px;
}

.hero-intro {
  margin-bottom: 30px;
}

.hero-news-intro a {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  letter-spacing: 0.002em;
  color: #3369c7;
}

/* Home dataset stats */
.home-dataset-wrapper {
  border-radius: 8px;
  padding: 20px;
  letter-spacing: 0.004em;
  background-color: #fff;
}

.home-dataset-readmore {
  cursor: pointer;
  text-align: right;
  color: #408ec6;
  font-family: "Fira Sans", regular;
  font-size: 14px;
  font-weight: normal;
  opacity: 0.8;
}

/* Responsive */
@media screen and (max-width: 1100px) {
  .hero-form {
    max-width: 800px;
  }

  .hero .hero-intro {
    font-size: 28px;
  }

  .hero-stats-item span {
    font-size: 17.92px;
  }
}

@media screen and (max-width: 991px) {
  .hero-form {
    max-width: 610px;
  }

  .hero .hero-intro {
    font-size: 23.8px;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    max-width: 100%;
    padding-top: 10px;
  }

  .hero .hero-intro {
    font-size: 21px;
  }

  .hero-form-filter {
    display: none;
  }

  .hero-stats {
    margin-top: 30px;
    gap: 20px;
  }

  .hero-stats-item span {
    font-size: 15.4px;
  }

  .hero-cards {
    margin-top: 30px;
  }

  .home-dataset {
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  .hero-stats-item span {
    font-size: 14px;
  }
}
