.navbar {
  font-family: "FiraSans-Regular";
}

/* Navbar start */
.navbar-logo {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 15px;
}

.navbar-logo span {
  width: 77px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0.004em;
  color: #fefefe;
}

.navbar-menu {
  display: none;
}

.navbar-menu-content {
  position: relative;
}

.navbar-menu-content.MuiDrawer-root .MuiPaper-root {
  width: 370px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 80px 50px;
  background-color: #3369c7;
  color: #fff;
  font-size: 12px;
  font-family: "FiraSans-Regular";
}

.navbar-menu-close {
  position: absolute;
  top: 29px;
  right: 30px;
  font-size: 25px;
  cursor: pointer;
}

/* Navbar center */
.navbar-lists {
  display: flex;
  align-items: center;
}

.navbar-lists a {
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  transition: opacity 0.3s ease;
  letter-spacing: 0.004em;
  font-weight: 400;
  padding: 0 16px;
  text-wrap-mode: nowrap;
}

.navbar-lists a:hover {
  opacity: 0.6;
}

/* Navbar end */
.navbar-changer {
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.navbar-lang-changer {
  border: none;
  margin: 0 50px;
}

.navbar-lang-changer .MuiSelect-icon {
  color: #fff;
}

.navbar-lang-changer.MuiInput-root {
  color: #fff;
  font-size: 14px;
}

.navbar-login-modal.MuiDialog-root .MuiPaper-root {
  width: 538px;
  padding: 30px;
  border-radius: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: "Rubik-Medium";
}

.navbar-login-modal.MuiDialog-root .MuiPaper-root .dialog-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 26px;
  color: darkgray;
  cursor: pointer;
}

.navbar-login-modal h3 {
  font-size: 23.8px;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-family: "Rubik-Medium";
}

.navbar-login-modal p {
  font-weight: normal;
  font-family: "Rubik-Regular";
}

.navbar-login-model-btn.MuiButtonBase-root {
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Rubik-Medium";
  background-color: #5a3bc8;
  transition: background-color 0.3s ease;
  text-transform: initial;
}

.navbar-login-model-btn.MuiButtonBase-root:hover {
  background-color: #4825c2;
}

.navbar-login-model-btn.MuiButtonBase-root span {
  font-size: 14px;
}

/* Responsive */
@media screen and (max-width: 1290px) {
  .navbar-logo span {
    display: none;
  }
}

@media screen and (max-width: 1025px) {
  .navbar-menu {
    display: block;
  }

  .navbar-lists {
    display: none;
  }

  .navbar-end {
    width: 85%;
  }
}

@media screen and (max-width: 767px) {
  .navbar-login.MuiButtonBase-root {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .navbar-changer {
    display: none;
  }

  .navbar-end {
    width: auto;
  }
}

@media screen and (max-width: 400px) {
  .navbar-menu-content.MuiDrawer-root .MuiPaper-root {
    width: 80%;
  }
}
